@page "/"



<div class="ma-2">
    <MudTabs Centered="true" Color="Color.Dark" Style="    margin: 20px 20px 0px 0px;" Outlined="true" Class="mt-0 w-full h-full "  Position="Position.End" Rounded="true" Border="true"
             ApplyEffectsToContainer="true"  >
        <MudTabPanel Icon="@Icons.Material.Filled.Tune" Text="Ajustes gerais">
          
            <MudText>Ajustes gerais</MudText>
        </MudTabPanel>
        <MudTabPanel Icon="@Icons.Material.Filled.Bolt" Text="Respostas Rápidas">

            <MudText>Respostas Rápidas</MudText>
        </MudTabPanel>
        <MudTabPanel Icon="@Icons.Material.Filled.PeopleAlt" Text="Departamentos">
       
            <MudText>Departamentos</MudText>
        </MudTabPanel>
        <MudTabPanel Icon="@Icons.Material.Filled.Person" Text="Usuários">
        
            <MudText>Usuários</MudText>
        </MudTabPanel>
        <MudTabPanel Icon="@Icons.Material.Filled.Contacts" Text="Contatos">
         
            <MudText>Contatos</MudText>
        </MudTabPanel>
        <MudTabPanel Icon="@Icons.Material.Filled.Label" Text="Etiquetas">
          
            <MudText>Etiquetas</MudText>
        </MudTabPanel>
        <MudTabPanel Icon="@Icons.Material.Filled.CheckCircle" Text="Motivos de Finalização">
           
            <MudText>Motivos de Finalização</MudText>
        </MudTabPanel>
   
        <MudTabPanel Icon="@Icons.Material.Filled.Payment" Text="Pagamento">
          
            <MudText>Pagamento</MudText>
        </MudTabPanel>
        <MudTabPanel Icon="@Icons.Material.Filled.AccountBox" Text="Meus dados">
       
            <MudText>Meus dados</MudText>
        </MudTabPanel>
    </MudTabs>
</div>
@code {
    
}