<MudContainer  MaxWidth="MaxWidth.False"   Style="overflow: auto">
    <MudText Class="mt-4" Typo="Typo.h3" Align="Align.Center" GutterBottom="true">Detalhes do Plano</MudText>
    <MudText Class="mb-6" Align="Align.Center">Informações da cobrança.</MudText>
    <div>
        <MudCard Elevation="4" Class="mb-6 rounded-xl pa-4">


            <!-- Plano -->
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h5">Plano</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>
                <div class="form">
                    <div class="flex-column">
                        <label>Tempo do plano </label>
                    </div>
                    <div class="inputFormDisabled">
                        <MudIcon Icon="@Icons.Material.Outlined.Person"></MudIcon>
                        <input type="text" class="input" value="12 meses" disabled=""> 
                    </div></div>
                <MudText>Plano Personalizado. Para alterar, entre em contato com o Suporte.</MudText>
            </MudCardContent>

            <MudDivider DividerType="DividerType.Middle" Class="my-6" />
            
            <!-- Cabeçalho -->
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h5">Dados de Cobrança</MudText>
                </CardHeaderContent>
            </MudCardHeader>

            <!-- Conteúdo -->
            <MudCardContent>

                <div class="form">
                    <div class="flex-column">
                        <label>Nome </label>
                    </div>
                    <div class="inputForm">
                        <MudIcon Icon="@Icons.Material.Outlined.Person"></MudIcon>
                        <input type="text" class="input" placeholder="Digite seu nome"/>
                    </div>
                    <div class="flex-column">
                        <label>CPF/CNPJ </label>
                    </div>
                    <div class="inputForm">
                        <MudIcon Icon="@Icons.Material.Outlined.Info"></MudIcon>
                        <input type="text" class="input" placeholder="Digite seu CPF ou CNPJ"/>
                    </div>

                    <div class="flex-column">
                        <label>Celular </label>
                    </div>
                    <div class="inputForm">
                        <MudIcon Icon="@Icons.Material.Outlined.CellTower"></MudIcon>
                        <input type="Celular" class="input" placeholder="Digite seu celular"/>
                    </div>


                    <div class="flex-column">
                        <label>E-mail para envio das faturas </label>
                    </div>
                    <div class="inputForm">
                        <MudIcon Icon="@Icons.Material.Outlined.Email"></MudIcon>
                        <input type="E-mail" class="input" placeholder="Digite seu e-mail"/>
                    </div>

                    <div class="flex-column">
                        <label>E-mail de cópia </label>
                    </div>
                    <div class="inputForm">
                        <MudIcon Icon="@Icons.Material.Outlined.Email"></MudIcon>
                        <input type="E-mail" class="input" placeholder="Digite seu e-mail"/>
                    </div>

                    <div class="flex-column">
                        <label>CEP </label>
                    </div>
                    <div class="inputForm">
                        <MudIcon Icon="@Icons.Material.Outlined.House"></MudIcon>
                        <input type="CEP" class="input" placeholder="Digite seu CEP"/>
                    </div>

                    <div class="flex-column">
                        <label>Logradouro </label>
                    </div>
                    <div class="inputForm">
                        <MudIcon Icon="@Icons.Material.Outlined.Pending"></MudIcon>
                        <input type="Logradouro" class="input" placeholder="Logradouro"/>
                    </div>

                    <div class="flex-column">
                        <label>Número </label>
                    </div>
                    <div class="inputForm">
                        <MudIcon Icon="@Icons.Material.Outlined.Numbers"></MudIcon>
                        <input type="Número" class="input" placeholder="Digite o número"/>
                    </div>

                    <div class="flex-column">
                        <label>Complemento </label>
                    </div>
                    <div class="inputForm">
                        <MudIcon Icon="@Icons.Material.Outlined.Pending"></MudIcon>
                        <input type="Complemento" class="input" placeholder="Digite o complemento"/>
                    </div>

                    <div class="flex-column">
                        <label>Bairro </label>
                    </div>
                    <div class="inputForm">
                        <MudIcon Icon="@Icons.Material.Outlined.Pending"></MudIcon>
                        <input type="Bairro" class="input" placeholder="Digite o bairro"/>
                    </div>

                    <div class="flex-column">
                        <label>Cidade </label>
                    </div>
                    <div class="inputForm">
                        <MudIcon Icon="@Icons.Material.Outlined.LocationCity"></MudIcon>
                        <input type="Cidade" class="input" placeholder="Digite a cidade"/>
                    </div>


                    <button  class="button-submit">Salvar</button>


                </div>

            </MudCardContent>
        </MudCard>

    </div>
</MudContainer>


<style>

</style>



@code {
  
}