<MudContainer   Style="overflow: auto">
    <MudText Class="mt-4" Typo="Typo.h3" Align="Align.Center" GutterBottom="true">Ajustes Gerais</MudText>
    <MudText Class="mb-6" Align="Align.Center">Os principais ajustes da plataforma estão aqui. Mensagens de boas-vindas/finalização, regras de utilização, horário de atendimento e mais.</MudText>
    <div>
        <MudCard Elevation="4" Class="mb-6 rounded-xl pa-1">

            <!-- Reiniciar Instância -->
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h5">Reiniciar Instância</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>
                <MudText>Reinicie sua instância para corrigir erros automaticamente. Será necessário escanear um novo QR Code para o WhatsApp.</MudText>
            </MudCardContent>
            <MudCardActions>
                <MudToggleIconButton @bind-Toggled="RestartOn"
                                     Icon="@Icons.Material.Filled.RestartAlt"
                                     Color="@Color.Error"
                                     ToggledIcon="@Icons.Material.Filled.Check"
                                     ToggledColor="@Color.Success"
                                     title="@(RestartOn ? "On" : "Off")" />

                <span>Instância @(RestartOn ? "reiniciada" : "não está reiniciada")</span>
            </MudCardActions>
            <MudDivider DividerType="DividerType.Middle" Class="my-6" />

            <!-- Nome da Instância -->
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h5">Nome da Instância</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>
                <MudText>Defina ou altere o nome da instância exibido nos registros e relatórios.</MudText>
            </MudCardContent>
            <MudCardActions>
                <MudTextField Margin="Margin.Dense" @bind-Value="NameInstance" Label="Nome da instância" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.DriveFileRenameOutline" AdornmentColor="Color.Primary" />
            </MudCardActions>
            <MudDivider DividerType="DividerType.Middle" Class="my-6" />

            <!-- Logotipo -->
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h5">Logotipo</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>
                <MudText>Personalize o logotipo que será exibido nos seus atendimentos e notificações.</MudText>
            </MudCardContent>
            @if (string.IsNullOrEmpty(_imageUrl))
            {
            <MudCardActions  Style="    width: max-content;">
                <MudFileUpload T="IBrowserFile" Accept=".svg" MaximumFileCount="1" FilesChanged="UploadFile">
                    <ActivatorContent>
                        <MudIconButton Color="Color.Info" Icon="@Icons.Material.Filled.PhotoCamera">
                        </MudIconButton>
                    </ActivatorContent>
                </MudFileUpload>
            </MudCardActions>
            }
            @if (!string.IsNullOrEmpty(_imageUrl))
            {
                <div class="d-flex">
                <MudPaper Style="margin: 16px;
    width: max-content;
    background: #1ec8a5;" Class="d-flex align-center">
               
                    <MudCard  Class="py-1 align-center  justify-start " Elevation="0" Style="width: 40px; height: 100%; color: white; background: #1ec8a5" T="string">


                        <MudImage  Width="25" Height="25" Fluid="true" Src="@_imageUrl" Alt="Uploaded Image" Class="rounded-lg mt-2" />
                        <MudIcon Icon="@Icons.Material.Filled.Chat" Title="Chat" />
                        <MudSpacer></MudSpacer>

                       <div class="justify-center" style="color: white; display: grid;">
                            <MudDivider></MudDivider>
                            <MudIcon Class="mb-1" Icon="@Icons.Material.Filled.Notifications" Title="Favorite"/>
              
                            <MudIcon Class="mb-1" Icon="@Icons.Material.Filled.Settings" Title="Favorite" />
              
                            <MudIcon Class="mb-1" Icon="@Icons.Material.Filled.SupervisedUserCircle" Title="Favorite" />
                       </div>
                  
                    </MudCard>
                    <MudCard Class="px-1" Style="    display: -webkit-inline-box;" Elevation="0">
                        <MudCardContent Class="pa-1">
                            <MudSkeleton Animation="Animation.Wave" Width="44px" Class="my-1" Height="20px"  />
                            <MudSkeleton Animation="Animation.Wave" Width="44px" Class="my-1" Height="124px"  />
                        </MudCardContent>
                        <MudCardContent Class="pa-1">
                            <MudSkeleton Animation="Animation.Wave" Width="155px" Class="my-1" Height="20px"  />
                            <MudSkeleton Animation="Animation.Wave" Width="155px" Class="my-1" Height="100px"  />
                            <MudSkeleton Animation="Animation.Wave"  Width="155px" Class="my-1" Height="20px"  />
                        </MudCardContent>

                    </MudCard>
   
                </MudPaper>
                <MudMenu Icon="@Icons.Material.Filled.MoreVert" Style="width: max-content; margin: 5px;" FullWidth="false" ActivationEvent="@MouseEvent.MouseOver" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter">

                    <MudMenuItem IconSize="Size.Small" IconColor="Color.Info" Icon="@Icons.Material.Outlined.ChangeCircle">Trocar Logo</MudMenuItem>
                    <MudMenuItem IconSize="Size.Small" IconColor="Color.Error" Icon="@Icons.Material.Outlined.DeleteForever">Excluir Logo</MudMenuItem>
                </MudMenu>
                </div>
                        }
            <MudDivider DividerType="DividerType.Middle" Class="my-6" />

            <!-- Mensagem de Boas-Vindas -->
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h5">Mensagem de Boas-Vindas</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>
                <MudText>Configure a mensagem inicial enviada automaticamente para novos atendimentos.</MudText>
            </MudCardContent>
            <MudCardActions>
                <MudTextField AutoGrow MaxLines="10" Margin="Margin.Dense" @bind-Value="WelcomeMessage" Label="Mensagem de Boas-Vindas" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.DriveFileRenameOutline" AdornmentColor="Color.Primary" />

            </MudCardActions>
            <MudDivider DividerType="DividerType.Middle" Class="my-6" />

            <!-- Mensagem de Finalização -->
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h5">Mensagem de Finalização</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>
                <MudText>Defina a mensagem enviada automaticamente ao encerrar um atendimento.</MudText>
            </MudCardContent>
            <MudCardActions>
                <MudTextField AutoGrow MaxLines="10" Margin="Margin.Dense" @bind-Value="FinishMessage" Label="Mensagem de Finalização" Variant="Variant.Outlined" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.DriveFileRenameOutline" AdornmentColor="Color.Primary" />
            </MudCardActions>
            <MudDivider DividerType="DividerType.Middle" Class="my-6" />

            <!-- Avaliação de Atendimento -->
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h5">Avaliação de Atendimento</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>
                <MudText>Ative ou desative a solicitação de feedback ao final de um atendimento.</MudText>
            </MudCardContent>
            <MudCardActions>
                  
              
                <label class="switch">
                    <input type="checkbox" />
                    <span class="slider"></span>
                </label>

            </MudCardActions>
            <MudDivider DividerType="DividerType.Middle" Class="my-6" />

            <!-- Usuário Padrão -->
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h5">Usuário Padrão</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>
                <MudText>Configure o usuário padrão para carteirização dos atendimentos.</MudText>
            </MudCardContent>
            <MudCardActions>
                <label class="switch">
                    <input type="checkbox" />
                    <span class="slider"></span>
                </label>
                </MudCardActions>
            <MudDivider DividerType="DividerType.Middle" Class="my-6" />
            
            <!-- Identificar nome do usuário -->
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h5">Identificar nome do usuário</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>
                <MudText>Inclui o nome do usuário nas mensagens enviadas.</MudText>
            </MudCardContent>
            <MudCardActions>
                <label class="switch">
                    <input type="checkbox" />
                    <span class="slider"></span>
                </label>
            </MudCardActions>
            <MudDivider DividerType="DividerType.Middle" Class="my-6" />

            <!-- Ocultar números de telefone -->
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h5">Ocultar números de telefone</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>
                <MudText>Oculta os 4 últimos dígitos do telefone (privacidade).</MudText>
            </MudCardContent>
            <MudCardActions>
                <label class="switch">
                    <input type="checkbox" />
                    <span class="slider"></span>
                </label>
            </MudCardActions>
            <MudDivider DividerType="DividerType.Middle" Class="my-6" />

            <!-- Ocultar conversas iniciadas via disparos -->
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h5">Ocultar conversas iniciadas via disparos</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>
                <MudText>Não exibe as conversas sem interação que foram iniciadas através da opção de Disparos.</MudText>
            </MudCardContent>
            <MudCardActions>
                <label class="switch">
                    <input type="checkbox" />
                    <span class="slider"></span>
                </label>
            </MudCardActions>
            <MudDivider DividerType="DividerType.Middle" Class="my-6" />

            <!-- Finalizar atendimento por inatividade -->
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h5">Finalizar atendimento por inatividade</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>
                <MudText>Caso o usuário ou cliente não enviem uma mensagem por determinado período, o atendimento será finalizado automaticamente.</MudText>
            </MudCardContent>
            <div Style="   align-items: center; display: flex;
   ">
                <label class="switch ma-2">
                    <input type="checkbox" />
                    <span class="slider"></span>
                </label>

              <MudText Class="ma-2"> Cliente</MudText>
                <input class="modern-number-input" type="number" value="0">
                <MudText Class="ma-2"> Minutos</MudText>
            </div>
            <div Style="    align-items: center; display: flex;
    ">
                <label class="switch ma-2">
                    <input type="checkbox" />
                    <span class="slider"></span>
                </label>
                <MudText Class="ma-2"> Atendente</MudText>

                <input class="modern-number-input" type="number" value="0">
                <MudText Class="ma-2"> Minutos</MudText>
            </div>
            <MudDivider DividerType="DividerType.Middle" Class="my-6" />

            <!-- Horário de Atendimento -->
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h5">Horário de Atendimento</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>
                <MudText>Defina os horários em que os atendimentos estão disponíveis.</MudText>
            </MudCardContent>
            <MudCardActions>
                <label class="switch">
                    <input type="checkbox" />
                    <span class="slider"></span>
                </label>

                <MudButton Class="ma-2" @onclick="OpenDialogAsync" Variant="Variant.Filled" Color="Color.Primary">
                    Configurar Horários
                </MudButton>
                </MudCardActions>
            <MudDivider DividerType="DividerType.Middle" Class="my-6" />

            <!-- Fuso Horário -->
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h5">Fuso Horário</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>
                <MudText>Ajuste o fuso horário padrão para os seus atendimentos.</MudText>
            </MudCardContent>
            <MudCardActions>
                <MudSelect Style="width: 100%"   T="string"
                           Variant="Variant.Outlined"
                           Margin="Margin.Dense"
                           Dense="true"
                           Label="Horário Padrão"


                           Clearable="true">
                    @foreach (var _hourDefault in _hoursDefault)
                    {
                        <MudSelectItem Style="width: 100%" Value="_hourDefault">@_hourDefault</MudSelectItem>
                    }
                </MudSelect>
            </MudCardActions>
            <MudDivider DividerType="DividerType.Middle" Class="my-6" />

            <!-- Código do País -->
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h5">Código do País</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>
                <MudText>Configure o código do país para chamadas e WhatsApp.</MudText>
            </MudCardContent>
            <MudCardActions>
                <MudSelect Style="width: 100%"   T="string"
                           Variant="Variant.Outlined"
                           Margin="Margin.Dense"
                           Dense="true"
                           Label="Código padrão"


                           Clearable="true">
                    @foreach (var _codDefault in _codsDefault)
                    {
                        <MudSelectItem Style="width: 100%" Value="_codDefault">@_codDefault</MudSelectItem>
                    }
                </MudSelect>
            </MudCardActions>

        </MudCard>
    </div>
</MudContainer>


<style>
    .mud-skeleton-text{
        transform: none;
    }

    .modern-number-input {
        width: 120px;
        height: 40px;
        border: 2px solid #ccc;
        border-radius: 8px;
        padding: 0 10px;
        font-size: 16px;
        font-family: 'Arial', sans-serif;
        outline: none;
        transition: all 0.3s ease-in-out;
        text-align: center;
        background-color: #f9f9f9;
    }

    .modern-number-input:hover {
        border-color: #007bff;
    }

    .modern-number-input:focus {
        border-color: #007bff;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
        background-color: #fff;
    }

    /* Estilizar as setas para adicionar espaçamento */
    .modern-number-input::-webkit-inner-spin-button {
        width: 18px; /* Largura das setas */
        height: 40px;
        margin: 0 2px; /* Espaçamento entre setas e conteúdo */
    }

    .modern-number-input::-webkit-outer-spin-button {
        width: 18px; /* Largura das setas */
        height: 40px;
        margin: 0 2px; /* Espaçamento entre setas e conteúdo */
    }

    /* Compatibilidade com Firefox */
    .modern-number-input[type="number"] {
        -moz-appearance: textfield;
    }

    /* From Uiverse.io by gharsh11032000 */
    /* The switch - the box around the slider */
    .switch {
        font-size: 17px;
        position: relative;
        display: inline-block;
        width: 3.5em;
        height: 2em;
    }

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        inset: 0;
        border: 2px solid #414141;
        border-radius: 50px;
        transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 1.4em;
        width: 1.4em;
        left: 0.2em;
        bottom: 0.2em;
        background-color: #1ec8a5;
        border-radius: inherit;
        transition: all 0.4s cubic-bezier(0.23, 1, 0.320, 1);
    }

    .switch input:checked + .slider {
        background: #1ec8a5;
        box-shadow: 0 0 10px rgb(188 188 188 / 80%);
        border: 2px solid #ffffff;

    }

    .switch input:checked + .slider:before {
        background-color: white;
        transform: translateX(1.5em);
    }

</style>



@code {
    public bool RestartOn { get; set; }
    public string NameInstance { get; set; } = "Plataforma de atendimento";
    public string WelcomeMessage { get; set; } = "Seja Bem-Vindo";
    public string FinishMessage { get; set; } = "Até logo!";
    public int TimefinishClient { get; set; } = 0;
    bool _checked3 = false;
    
    IBrowserFile _file; // Variável para armazenar apenas 1 arquivo
    string _imageUrl; // Variável para armazenar a URL da imagem
    
    private List<Day> days = new List<Day>();

    protected override async Task OnInitializedAsync()
    {
        // Exemplo de inicialização
        days = new List<Day>
        {
            new Day { Id = "1", DayWeek = "Olá, seja bem vindo" },
            new Day { Id = "2", DayWeek = "Como posso te ajudar?" },
        };
    }
    
    public string[] _hoursDefault = 
    {
        "Brasilia Time (BRT) GMT-3", 
        "Eastern Standard Time (EST) GMT-5", 
        "Central European Time (CET) GMT+1", 
        "Pacific Standard Time (PST) GMT-8", 
        "Greenwich Mean Time (GMT) GMT+0", 
        "Indian Standard Time (IST) GMT+5:30", 
        "Australian Eastern Standard Time (AEST) GMT+10", 
        "Japan Standard Time (JST) GMT+9"
    };

    public string[] _codsDefault = 
    {
        "Brazil +55", 
        "United States +1", 
        "Germany +49", 
        "United States +1", 
        "United Kingdom +44", 
        "India +91", 
        "Australia +61", 
        "Japan +81"
    };

    
    private Task OpenDialogAsync()
    {
        var options = new DialogOptions { CloseOnEscapeKey = true };

        return DialogService.ShowAsync<DialogTimeService>("Simple Dialog", options);
    }

    private async Task UploadFile(IBrowserFile file)
    {
        _file = file; // Substitui o arquivo atual

        // Converta o arquivo para uma string base64
        var buffer = new byte[file.Size];
        await file.OpenReadStream(maxAllowedSize: 1024 * 1024 * 5).ReadAsync(buffer); // Tamanho máximo de 5MB
        var base64String = Convert.ToBase64String(buffer);

        // Gere a URL da imagem
        _imageUrl = $"data:{file.ContentType};base64,{base64String}";
    }
}