

<ul>
   
        <li>
            <a href="chat">
                <MudIcon Icon="@Icons.Material.Filled.Chat" Title="Chat" />
                <span>Chat</span>
            </a>
        </li>
        <li>
            <a href="#">
                <MudIcon Icon="@Icons.Material.Rounded.Home" Title="Favorite" />
                <span>Images</span>
            </a>
        </li>
        <li>
            <a href="#">
                <MudIcon Icon="@Icons.Material.Filled.FileOpen" Title="Favorite" />
                <span>Files</span>
            </a>
        </li>
        <li>
            <a href="#">
                <MudIcon Icon="@Icons.Material.Filled.Games" Title="Favorite" />
                <span>Games</span>
            </a>
        </li>
        <li>
            <a href="#">
                <MudIcon Icon="@Icons.Material.Filled.Book" Title="Favorite" />
                <span>Books</span>
            </a>
        </li>
     
        <MudSpacer></MudSpacer>
    
        <li>
            <MudDivider></MudDivider>
            <a href="#">
                <MudIcon Icon="@Icons.Material.Filled.Notifications" Title="Favorite"/>
                <span>Notifications</span>
            </a>
        </li>
        <li>
            <a href="#">
                <MudIcon Icon="@Icons.Material.Filled.Settings" Title="Favorite" />
                <span>Settings</span>
            </a>
        </li>
        <li>
            <a href="#">
                <MudIcon Icon="@Icons.Material.Filled.SupervisedUserCircle" Title="Favorite" />
                <span>Profile</span>
            </a>
        </li>
    </ul>



<style>


    /* Reset e Configurações Gerais */
    *,
    *:after,
    *:before {
        box-sizing: border-box;
    }

 

    /* Estilo para lista */
    ul {
        z-index: 1;
        left: 0;
        /* top: 62px; */
        height: 100vh;
        list-style: none;
        position: fixed;
        padding: 0.3rem;
        background-color: #1ec8a5;
        display: flex
    ;
        width: 58px;
        flex-direction: column;
      /*  justify-content: space-between;*/
        /* padding-bottom: 70px; */

    }

    li {
        & + li {
            margin-top: 0.75rem;
        }

        &:nth-child(6) {
            margin-top: 5rem;
            padding-top: 1.25rem;
            border-top: 1px solid #363664;
        }
    }

    /* Links */
    a {
        color: #FFF;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 3rem;
        height: 3rem;
        border-radius: 8px;
        position: relative;
        transition: background-color 0.15s ease;

        &:hover,
        &:focus,
        &.active {
            background-color: #000;
            outline: none;
        }

        /* Ícone */
        i {
            font-size: 1.375rem;
        }

        /* Tooltip */
        span {
            position: absolute;
            background-color: #000;
            color: #FFF;
            white-space: nowrap;
            padding: 0.5rem 1rem;
            border-radius: 6px;
            left: calc(100% + 1.5rem);
            transform: scale(0);
            opacity: 0;
            transform-origin: center left;
            transition: transform 0.15s ease, opacity 0.15s ease;

            &:before {
                content: "";
                display: block;
                width: 12px;
                height: 12px;
                background-color: #000;
                position: absolute;
                left: -5px;
                top: 50%;
                transform: translateY(-50%) rotate(45deg);
            }
        }

        &:hover span {
            transform: scale(1);
            opacity: 1;
        }
    }

    /* Detalhes */
    details {
        position: fixed;
        bottom: 1rem;
        right: 1rem;
        color: #05043e;
        display: flex;
        flex-direction: column;

        /* Conteúdo do dropdown */
        div {
            background-color: #fff;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
            padding: 1.25rem;
            border-radius: 8px;
            position: absolute;
            max-height: calc(100vh - 100px);
            width: 400px;
            max-width: calc(100vw - 2rem);
            bottom: calc(100% + 1rem);
            right: 0;
            overflow: auto;
            transform-origin: 100% 100%;

            &::-webkit-scrollbar {
                width: 15px;
                background-color: #fff;
            }

            &::-webkit-scrollbar-thumb {
                background-color: #ccc;
                border-radius: 99em;
                border: 5px solid #fff;
            }

            & > * + * {
                margin-top: 0.75em;
            }

            pre {
                background-color: #f9f9f9;
                border: 1px solid #95a3b9;
                border-radius: 6px;
                font-family: monospace;
                padding: 0.75em;
                font-size: 0.875rem;
                white-space: pre-line;
            }
        }

        &[open] div {
            animation: scale 0.25s ease;
        }
    }

    /* Botão de sumário */
    summary {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        padding: 0.625em 1.25em;
        border-radius: 99em;
        color: #fff;
        background-color: #185adb;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transition: background-color 0.15s ease;
        position: relative;

        &::-webkit-details-marker {
            display: none;
        }

        &:hover,
        &:focus {
            background-color: #154ba1;
        }

        i {
            font-size: 1.375em;
            margin-left: 0.25em;
        }
    }





</style>
